name: Tests
on: [push,workflow_dispatch]
jobs:
  run-iq-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: adopt
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Run the Gradle package task
        env:
          CAPELLA_DOMAIN: https://api.dev.nonprod-project-avengers.com
          IQ_ORG_ID: ${{ secrets.IQ_ORG_ID }}
          IQ_ORG_LOGIN: ${{ secrets.IQ_ORG_LOGIN }}
          IQ_ORG_PASSWD: ${{ secrets.IQ_ORG_PASSWD }}
        run: ./gradlew test buildPlugin --stacktrace --info
